<!doctype html>

<html data-ng-app="dashboard" lang="en" >
<head>
  <meta charset="utf-8">
  <title>Dashboard</title>
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="mobile-web-app-capable" content="yes"/>
  <link rel="apple-touch-icon" href="/launcher-icon-4x.png">
  <meta name="apple-mobile-web-app-status-bar-style" content="white" />
  <link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap-theme.min.css"/>
  <style type="text/css">
  .banner {
  	font-size: 5em;
  	font-weight: bold;
  	font-family: arial, helvetica, sans;
  }
  .crittbl {
  	font-size: 2em;
  }
  
	.success {
		width: 8em;
		height: 3.2em;
		background-color: red;

		position: absolute;
		top:0;
		bottom: 0;
		left: 0;
		right: 0;

		margin: auto;
	}
	
	.container {
		background: rgba(255, 255, 255, 0) ! important;
	}
	
	.data, .data td, .data tr, .data tbody {
		background: rgba(255, 255, 255, 0.4) ! important;
	}
	.acknowledged {
		color: #888;
	}
  
  .acknowledged .label-default {
  	background-color: #CCC;
  }
  
  </style>
		
	<!--script type="application/javascript">
		// 2. This code loads the IFrame Player API code asynchronously.
		var tag = document.createElement('script');

		tag.src = "https://www.youtube.com/iframe_api";
		var firstScriptTag = document.getElementsByTagName('script')[0];
		firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

		// 3. This function creates an <iframe> (and YouTube player)
		//    after the API code downloads.
		var player;
		function onYouTubeIframeAPIReady() {
		  player = new YT.Player('bgvideo', {
		    height: '390',
		    width: '640',
		    videoId: 'M7lc1UVf-VE',
		    events: {
		      'onReady': onPlayerReady,
		      'onStateChange': onPlayerStateChange
		    }
		  });
		}

		// 4. The API will call this function when the video player is ready.
		function onPlayerReady(event) {
		  // event.target.playVideo();
		}

		// 5. The API calls this function when the player's state changes.
		//    The function indicates that when playing a video (state=1),
		//    the player should play for six seconds and then stop.
		var done = false;
		function onPlayerStateChange(event) {
		  if (event.data == YT.PlayerState.PLAYING && !done) {
		    setTimeout(stopVideo, 6000);
		    done = true;
		  }
			window.pass = {
				start: player.playVideo,
				stop: player.stopVideo
			}
		}
		function stopVideo() {
		  player.stopVideo();
		}
		
		window.pass = {
			start: null,
			stop: null
		}
		
	</script-->
  
</head>

<body>

<div id="bgvideo" style="position: fixed; z-index: -99; width: 100%; height: 100%; top:0px; left: 0px;"></div>

<div class="container" data-ng-init='init()' data-ng-controller="appController">

	<div data-ng-if="services_critical > 0">
		<div class="banner alert alert-danger" role="alert">
			<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
			Critical
			<span class="pull-right label label-danger">
				{{services_critical}}
				/
				{{services_len}}
			</span>
		</div>
	
		<table class="table crittbl table-striped data">
			<tbody>
				<tr data-ng-repeat="i in services.results | filter: serviceErrrorCriticalFilter">
				<!--tr data-ng-repeat="i in services.results"-->
					<td ng-class="(i.attrs.acknowledgement != 0) ? 'acknowledged': ''"><b>{{i.attrs.display_name}}</b><br/>
					<em><small>{{i.attrs.host_name.replace(".ms.uhbs.ch", "").replace(".uhbs.ch", "").replace(".usb.ch", "").replace(".unibas.ch", "")}}</small></em>
					<br/>
					<span class="label label-default">{{hhmm(now()-i.attrs.last_hard_state_change)}}<span>
					</td>
					<!--td>{{i.attrs.last_state}}</td>
					<td>{{i.attrs.acknowledgement}}</td-->
					<td data-ng-if="i.attrs.acknowledgement != 0" class="acknowledged">
					<span class="label label-info"><span class="glyphicon glyphicon-ok"></span> Aknowledged</span>
					{{i.attrs.last_check_result.output}}</td>
					<td data-ng-if="i.attrs.acknowledgement == 0">
					{{i.attrs.last_check_result.output}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<div data-ng-if="services_warning > 0">
		<div class="banner alert alert-warning" role="alert">
			<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
			Warning
			<span class="pull-right label label-warning">
				{{services_warning}}
				/
				{{services_len}}
			</span>
		</div>
	
		<table class="table crittbl table-striped data">
			<tbody>
				<tr data-ng-repeat="i in services.results | filter: serviceErrrorWarningFilter">
				<!--tr data-ng-repeat="i in services.results"-->
					<td ng-class="(i.attrs.acknowledgement != 0) ? 'acknowledged': ''"><b>{{i.attrs.display_name}}</b><br/>
					<em><small>{{i.attrs.host_name.replace(".ms.uhbs.ch", "").replace(".uhbs.ch", "").replace(".usb.ch", "").replace(".unibas.ch", "")}}</small></em>
					<br/>
					<span class="label label-default">{{hhmm(now()-i.attrs.last_hard_state_change)}}<span>
					</td>
					<!--td>{{i.attrs.last_state}}</td>
					<td>{{i.attrs.acknowledgement}}</td-->
					<td data-ng-if="i.attrs.acknowledgement != 0" class="acknowledged">
					<span class="label label-info"><span class="glyphicon glyphicon-ok"></span> Aknowledged</span>
					{{i.attrs.last_check_result.output}}</td>
					<td data-ng-if="i.attrs.acknowledgement == 0">
					{{i.attrs.last_check_result.output}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<div data-ng-if="services_warning == 0 && services_critical == 0">
		<div class="banner alert alert-success success">
		<center>
			<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
			All fine and dandy
		</center>
		</div>
	</div>

	<!-- debug -->
	<!--table class="table crittbl table-striped">
		<tbody>
			<tr data-ng-repeat="i in services.results">
				<td>{{$index}}<em> {{i.attrs.host_name.replace(".ms.uhbs.ch", "")}}</em><br/>
				{{i.attrs.display_name}}</td>
				<td>{{i.attrs.state}} {{i.attrs.last_hard_state}}</td>
				<td>{{i.attrs.acknowledgement}}</td>
				<td data-ng-if="i.attrs.acknowledgement != 0">
				<b>Aknowledged</b>
				{{i.attrs.last_check_result.output}}</td>
				<td data-ng-if="i.attrs.acknowledgement == 0">
				{{i.attrs.last_check_result.output}}</td>
			</tr>
		</tbody>
	</table-->

</div>

<!-- background video -->
<!--div id="bgvideo" style="position: fixed; z-index: -99; width: 100%; height: 100%;"></div-->
<!--div style="position: fixed; z-index: -99; width: 100%; height: 100%; display: none; top:0px; left: 0px;">
	<iframe frameborder="0" height="100%" width="100%" volume="0" id="bgvideo" 
	  src="https://www.youtube.com/embed/RDfjXj5EGqI?&autoplay=1&loop=1&controls=0&showinfo=0&autohide=1">
	</iframe>
</div-->

<script type="application/javascript" src="node_modules/angular/angular.min.js"></script>
<script type="application/javascript" src="node_modules/angular-bootstrap/ui-bootstrap.min.js"></script>

<script type="application/javascript" src="dashboard.js"></script>

</body>
</html>
